DDosClient/src/META-INF/wsdl/localhost_8080/MyServer/ServerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://ServerPack/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServerPack/">

<xs:element name="CheckSqlInjection" type="tns:CheckSqlInjection"/>

<xs:element name="CheckSqlInjectionResponse" type="tns:CheckSqlInjectionResponse"/>

<xs:element name="VerifyDOS" type="tns:VerifyDOS"/>

<xs:element name="VerifyDOSResponse" type="tns:VerifyDOSResponse"/>

<xs:element name="addUser" type="tns:addUser"/>

<xs:element name="addUserResponse" type="tns:addUserResponse"/>

<xs:element name="getLastTimeStamp" type="tns:getLastTimeStamp"/>

<xs:element name="getLastTimeStampResponse" type="tns:getLastTimeStampResponse"/>

<xs:element name="getUserEmailID" type="tns:getUserEmailID"/>

<xs:element name="getUserEmailIDResponse" type="tns:getUserEmailIDResponse"/>

<xs:element name="initdatabase" type="tns:initdatabase"/>

<xs:element name="initdatabaseResponse" type="tns:initdatabaseResponse"/>

<xs:element name="loginUser" type="tns:loginUser"/>

<xs:element name="loginUserResponse" type="tns:loginUserResponse"/>

<xs:element name="updatePassword" type="tns:updatePassword"/>

<xs:element name="updatePasswordResponse" type="tns:updatePasswordResponse"/>

<xs:complexType name="loginUser">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="ip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VerifyDOS">
<xs:sequence>
<xs:element name="Si" type="tns:mySingleImage" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mySingleImage">
<xs:sequence>
<xs:element name="HH" type="xs:int"/>
<xs:element name="WW" type="xs:int"/>
<xs:element name="img" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ip" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VerifyDOSResponse">
<xs:sequence>
<xs:element name="return" type="tns:mySingleImage" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePassword">
<xs:sequence>
<xs:element name="uid" type="xs:string" minOccurs="0"/>
<xs:element name="newPass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUser">
<xs:sequence>
<xs:element name="ui" type="tns:userInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userInfo">
<xs:sequence>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="middleName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="Add" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="allData" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initdatabase">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="initdatabaseResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLastTimeStamp">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastTimeStampResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserEmailID">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserEmailIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CheckSqlInjection">
<xs:sequence>
<xs:element name="inputQuery" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CheckSqlInjectionResponse">
<xs:sequence>
<xs:element name="return" type="tns:userInfo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>