DDosClient/src/META-INF/wsdl/localhost_8080/MyServer/ServerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServerPack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServerPack/" name="ServerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ServerPack/" schemaLocation="http://localhost:8080/MyServer/ServerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="VerifyDOS">
<part name="parameters" element="tns:VerifyDOS"/>
</message>
<message name="VerifyDOSResponse">
<part name="parameters" element="tns:VerifyDOSResponse"/>
</message>
<message name="initdatabase">
<part name="parameters" element="tns:initdatabase"/>
</message>
<message name="initdatabaseResponse">
<part name="parameters" element="tns:initdatabaseResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="CheckSqlInjection">
<part name="parameters" element="tns:CheckSqlInjection"/>
</message>
<message name="CheckSqlInjectionResponse">
<part name="parameters" element="tns:CheckSqlInjectionResponse"/>
</message>
<message name="getLastTimeStamp">
<part name="parameters" element="tns:getLastTimeStamp"/>
</message>
<message name="getLastTimeStampResponse">
<part name="parameters" element="tns:getLastTimeStampResponse"/>
</message>
<message name="updatePassword">
<part name="parameters" element="tns:updatePassword"/>
</message>
<message name="updatePasswordResponse">
<part name="parameters" element="tns:updatePasswordResponse"/>
</message>
<message name="getUserEmailID">
<part name="parameters" element="tns:getUserEmailID"/>
</message>
<message name="getUserEmailIDResponse">
<part name="parameters" element="tns:getUserEmailIDResponse"/>
</message>
<portType name="ServerWebService">
<operation name="loginUser">
<input wsam:Action="http://ServerPack/ServerWebService/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://ServerPack/ServerWebService/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
<operation name="VerifyDOS">
<input wsam:Action="http://ServerPack/ServerWebService/VerifyDOSRequest" message="tns:VerifyDOS"/>
<output wsam:Action="http://ServerPack/ServerWebService/VerifyDOSResponse" message="tns:VerifyDOSResponse"/>
</operation>
<operation name="initdatabase">
<input wsam:Action="http://ServerPack/ServerWebService/initdatabaseRequest" message="tns:initdatabase"/>
<output wsam:Action="http://ServerPack/ServerWebService/initdatabaseResponse" message="tns:initdatabaseResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://ServerPack/ServerWebService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://ServerPack/ServerWebService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="CheckSqlInjection">
<input wsam:Action="http://ServerPack/ServerWebService/CheckSqlInjectionRequest" message="tns:CheckSqlInjection"/>
<output wsam:Action="http://ServerPack/ServerWebService/CheckSqlInjectionResponse" message="tns:CheckSqlInjectionResponse"/>
</operation>
<operation name="getLastTimeStamp">
<input wsam:Action="http://ServerPack/ServerWebService/getLastTimeStampRequest" message="tns:getLastTimeStamp"/>
<output wsam:Action="http://ServerPack/ServerWebService/getLastTimeStampResponse" message="tns:getLastTimeStampResponse"/>
</operation>
<operation name="updatePassword">
<input wsam:Action="http://ServerPack/ServerWebService/updatePasswordRequest" message="tns:updatePassword"/>
<output wsam:Action="http://ServerPack/ServerWebService/updatePasswordResponse" message="tns:updatePasswordResponse"/>
</operation>
<operation name="getUserEmailID">
<input wsam:Action="http://ServerPack/ServerWebService/getUserEmailIDRequest" message="tns:getUserEmailID"/>
<output wsam:Action="http://ServerPack/ServerWebService/getUserEmailIDResponse" message="tns:getUserEmailIDResponse"/>
</operation>
</portType>
<binding name="ServerWebServicePortBinding" type="tns:ServerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VerifyDOS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="initdatabase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckSqlInjection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastTimeStamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserEmailID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerWebService">
<port name="ServerWebServicePort" binding="tns:ServerWebServicePortBinding">
<soap:address location="http://localhost:8080/MyServer/ServerWebService"/>
</port>
</service>
</definitions>